* {
  box-sizing: border-box;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

@media(min-width: 768px) {
  .restaurants-title::after {
    content: '';
    position: absolute; 
    width: 10vw;
    top: 23%;
    left: 45%;
    border: 3px solid #FD6D61; 
    border-radius: 10px;
  } 
}
