* {
  box-sizing: border-box;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

@media(min-width: 768px) {
  
  .restaurants-title p {
    font-family: 'Poppins';
  }  

  .searchbar input {
    font-family: 'Inter';
  }

  .filter-container {
    box-shadow: 0px 3.99276px 11.9783px rgba(105, 61, 231, 0.2);
    border-radius: 10px;
  }
  
  .filter-container .filterBy {
    justify-content: space-evenly;
    box-shadow: 0px 3.99276px 11.9783px rgba(105, 61, 231, 0.2);
    border-radius: 10px;
  }

  .sort-container {
    box-shadow: 0px 3.99276px 11.9783px rgba(105, 61, 231, 0.2);
    border-radius: 10px;
  }
  
  .sort-container .sortBy {
    justify-content: space-evenly;
    box-shadow: 0px 3.99276px 11.9783px rgba(105, 61, 231, 0.2);
    border-radius: 10px;
  }

  .sort-container .sort-categories {
    flex: 2;
    justify-content: space-evenly;
  }

  .resto-card {
    flex-basis: 25%;
    min-height: 52vh;
    margin-left: 4.5vw;
    margin-bottom: 5vh;
    border-radius: 10%;
    box-shadow: 8px 8px 28px 1px rgba(79,79,79,0.55);
  }

  .resto-card .content .resto-image {
    width: 22vw;
    height: 35vh;
    /* border: 1px solid black; */
    border-radius: 10%;
  }
  
  .resto-card .content .resto-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    object-fit: contain;  
  }

  .resto-card .content .text {
    justify-content: space-evenly;
    margin-left: 2vw;
    margin-top: -5vh;
  }

  .resto-card .content .map-icon {
    margin-top: 1vh;
  }

  .resto-card .content .explore-button {
    width: 8vw;
    padding: 0.6vh;
    margin-left: 2vw;
    margin-top: 1vh;
    border: 1px solid #693DE7;
    border-radius: 10px;
  }

  .backtop-container {
    justify-content: right;
    margin-right: 8vw;
    margin-bottom: 4vh;
  }

  .backtop-container button {
    border: none;
    margin-right: 1vw;
  }  
}

.restaurants-title h1 {
  font-family: 'Inter';
}

.restaurants-title::after {
  content: '';
  position: absolute; 
  width: 10vw;
  top: 23%;
  left: 45%;
  border: 3px solid #FD6D61; 
  border-radius: 10px;
} 

.searchbar .search-icon {
  width: 2.5vh;
  height: 2.5vh;
}

.filter-container .filterBy .filter-icon {
  width: 2.5vh;
  height: 2.5vh;
}

.filter-container .filterBy p {
  font-family: 'Inter';
}

.sort-container .sortBy .sort-icon {
  width: 2.5vh;
  height: 2.5vh;
}

.sort-container .sortBy p {
  font-family: 'Inter';
}

.sort-container .sort-categories button {
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.resto-card .content .star-icon {
  justify-content: space-evenly;
  width: 22%;
  height: 8%;
  top: 3vh;
  right: 2vw;
  border-radius: 10px;
}

.resto-card .content .star-icon img {
  width: 2.2vh;
  height: 2.2vh;
}

.resto-card .content .map-icon img {
  width: 2.5vh;
  height: 2.5vh;
}

.backtop-container .top-icon img{
  width: 3.5vh;
  height: 3.5vh;
}

.backtop-container p {
  font-family: 'Poppins';
  font-size: 1rem;
  line-height: 4vh;
}
